run = "npm run dev -- --host 0.0.0.0 --port 3000"
entrypoint = "src/main.tsx"
modules = ["nodejs-20"]

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "run", "build"]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 3000
externalPort = 80

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]